<h1>Purchase Tickets</h1>

<table>
  <tr>
    <th>Movie</th>
    <th>Showtime</th>
    <th></th>
  </tr>

  <tr>
    <td><%= @movie.title %></td>
    <td><%= @s.starttime.strftime("%I:%M%p") %></td>
    <td>Purchase</td>
  </tr>
</table>
